/*--------- Basic element styling ---------*/
@import url('https://fonts.googleapis.com/css?family=Roboto:300,500,900');
* {
    box-sizing: border-box;
}
body {
    text-align:center;
    font-family: 'Roboto', sans-serif;
    color: #4a4a4a;
    /* border: red 1px solid; */
}
img {
    max-width: 100%;
}

h1,
h3 {
    font: 1em;
    font-weight: 900;
}
h4 {
    font-weight: normal;
}
a{
    text-decoration: none;
}
p{
    font-size: 1em;
    font-weight: 300;
    padding-bottom: 2em;
}

/*--------- Basic layout styling ---------*/
.wrap {
    width: 90%;
    margin:auto;
}
.light-grey {
    background-color: #fafafa
}

.flex-container {
  display: -webkit-inline-flex; /_ Safari _/
  display: flex;
}
/*---------- header styles ----------*/

header {
    margin-bottom: 5em
}

.title {
    margin: 0;
    padding: 1em 0 0.5em;
}
.nav ul {
    padding-left: 0;
    margin-bottom: 2em
}

.nav li {
    list-style-type: none;
    text-transform: uppercase;
    font-size: 1.1em;
    font-weight: bold;
    color: #4a4a4a;
    background-color: #fff;
    padding: 0.75em;
    margin-bottom: 0.4em;
} /* TODO: shortening */

.profile {
    width: 70%
}

/*---------- Content styles ----------*/

/*---------- Contact & footer styles ----------*/
.contact {
    padding: 3em 0;
    border-bottom: 1px #4a4a4a solid;
}
.contactTitle {
    text-transform:uppercase;
    font-size: 1em;
}
.contact p {
    padding: 0;
}
.contactDetails {
    display: inline-block;
    color: #7f7f7f;
    font-weight: bold;
    margin-left: 1em;
}

.footer {
    height: 5em;
}
.footer-text {
    padding-top: 40px;
    display: block;
    font-weight: 900;
    vertical-align: baseline;
}
.student-name {
    float: left;
    font-size: 1em;
    margin: 0;
}
.bck2top {
    float: right;
    font-size: 0.8em;
    text-transform: uppercase;
    padding-top: 42px
}
