/*--------- Text styling ---------*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto');
* {
    box-sizing: border-box;
    text-align:center;
    font-family: sans-serif, 'Roboto';
    /* border: red 1px solid; */
}
img {
    max-width: 100%;
}

.wrap {
    width: 90vw;
    margin:auto;
}
.textGrey {
    color: #4a4a4a;
}
/*---------- header styles ----------*/

.light-grey {
    background-color: #fafafa
}
.title {
    margin: 0;
    padding: 0.5em 0;
}
.nav ul {
    padding-left: 0;
}

.nav a,
.nav li {
    list-style-type: none;
    text-decoration: none;
}
